.shop-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  width: fit-content;
  padding: 50px;
}

.shop-container h2 {
  margin-left: 15px;
  border-left: black solid 5px;
  padding-left: 10px;
}

.shop-container li {
  list-style: none;
  margin-bottom: 40px;
  width: max-content;
  cursor: pointer;
  padding: 10px 15px;
  font-weight: 400;
}

.shop-container li:hover {
  background-color: rgba(0, 0, 0, 0.486);
}

.product-container {
  position: absolute;
  display: flex;
  margin-left: 400px;
  text-align: center;
  gap: 200px;
}

.product-container h4 {
  color: green;
}
.product-container h1 {
  position: absolute;
  text-align: left;
  top: -100px;
  width: 1160px;
  border-bottom: 2px solid black;
}

.product-container img {
  height: 250px;
  width: 250px;
}

.cart-buttons input {
  width: 8px;
  margin-left: 10px;
  margin-right: 10px;
}
